# App
APP_NAME="Next Boiler"
APP_ENV=development
NEXT_PUBLIC_APP_NAME="Next Boiler"
NEXT_PUBLIC_APP_ENV=development

# Database
DATABASE_URL="postgresql://..."

# Clerk
CLERK_BYPASS_PROTECTION=false
CLERK_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL="/"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL="/"

# Polar
POLAR_ACCESS_TOKEN="..."
POLAR_WEBHOOK_SECRET="..."
POLAR_PRODUCT_ID="..."
NEXT_PUBLIC_POLAR_PRODUCT_ID="..."

# Sentry
SENTRY_DSN="..."
SENTRY_AUTH_TOKEN="..."
SENTRY_ORG="..."
SENTRY_PROJECT="..."
NEXT_PUBLIC_SENTRY_DSN="..."