# Database
DATABASE_URL = 
APP_NAME = 
APP_ENV = 

# Clerk
CLERK_BYPASS_PROTECTION = 
CLERK_SECRET_KEY = 
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = 
NEXT_PUBLIC_CLERK_SIGN_IN_URL = 
NEXT_PUBLIC_CLERK_SIGN_UP_URL = 
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL = 
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL = 

# Polar
POLAR_ACCESS_TOKEN = 
POLAR_SUCCESS_URL = 
POLAR_WEBHOOK_SECRET = 
POLAR_PRODUCT_ID = 